ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


main {
  margin: 2%;
}

.scrollable {
  overflow-x: auto;
  margin: 5px;
  padding: 1.2%;
}


/*  ----- Table ----- */
table {
  .table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
}


tr:nth-child(even) {}

th {
  padding: 8px;
  margin: 1%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FF674D;
  color: white;
}




/*  ----- Form ----- */
form {}

fieldset {}

legend {}

label {
  margin: 1%;
  padding: 0%;

}

button {
  background-color: #FF674D;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  background-color: #FF674D;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  margin-top: 1.5%;

}

select {
  margin-right: 1%;
}