<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script language=JavaScript>
        function showTables()
        {
            document.getElementById('database').style.display = "block"
            document.getElementById('insert').style.display = "none"
        }

        function showInserts()
        {
            document.getElementById('database').style.display = "block"
            document.getElementById('insert').style.display = "block"
        }
    </script>
    <title>Variety Fitness</title>
</head>

<body onload=showTables()>
    <ul>
        <li><a class="active" href="../">Home</a></li>
        <li><a href="../members">Members</a></li>
        <li><a href="../classes">Classes</a></li>
        <li><a href="../class-members">Class-Members</a></li>
        <li><a href="../employees">Employees</a></li>
        <li><a href="../invoices">Invoices</a></li>
        <li><a href="../member-visits">Member Visits</a></li>
    </ul>


    {% block content %}
    {% endblock %}
</body>

</html>