<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <script language=JavaScript>
        function showTables()
        {
            document.getElementById('database').style.display = "block"
            document.getElementById('insert').style.display = "none"
        }

        function showInserts()
        {
            document.getElementById('database').style.display = "block"
            document.getElementById('insert').style.display = "block"
        }
    </script>
    <title>Variety Fitness</title>
</head>

<body onload=showTables()>
    <ul>
        <li><a class="active" href="../">Home</a></li>
        <li><a href="../members">Members</a></li>
        <li><a href="../classes">Classes</a></li>
        <li><a href="../class-members">Class-Members</a></li>
        <li><a href="../employees">Employees</a></li>
        <li><a href="../invoices">Invoices</a></li>
        <li><a href="../member-visits">Member Visits</a></li>
    </ul>


    {% block content %}
    {% endblock %}
</body>

</html>