<!-- Code is adapted from Step 4 of https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/README.md -->

{% extends "base.html" %}
{% block content %}
<h1>Class-Members</h1>
<div id="database">
    <table>
        <thead>
            <tr>
                <th>Class-MemberID</th>
                <th>Member</th>
                <th>Class</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item['classMemberID']}}</td>
                <td>{{item['member']}}</td>
                <td>{{item['class']}}</td>
                <td><a href="/edit_classMembers/{{item['classMemberID']}}">edit</a></td>
                <td><a href="/delete_classMembers/{{item['classMemberID']}}">delete</a></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br>
    <button class="btn" type="button" onClick=showInserts()>Add member to class</button>
</div>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="addClassMember">
        <legend><strong>Add Class Member</strong></legend>
        <fieldset class="field">
            <label>Member</label>
            <select name="memberID">
                {% for member in members %}
                <option value="{{member['memberID']}}">{{member['member']}}</option>
                {% endfor %}
            </select>
            <label>Class</label>
            <select name="classID">
                {% for class in classes %}
                <option value="{{class['classID']}}">{{class['class']}}</option>
                {% endfor %}ç
            </select>
        </fieldset>
        <input class="btn" type="submit" name="addClassMember" id="addClassMemberBtn" value="Add member to class">
    </form>
    {% endblock %}