{% extends "base.html" %}
{% block content %}
<h1>Classes</h1>
<div id="database">
    <table>
        <thead>
            <tr>
                <th>Class ID</th>
                <th>Instructor</th>
                <th>Class Description</th>
                <th>Class Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Room Number</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item['classID']}}</td>
                <td>{{item['instructor']}}</td>
                <td>{{item['classDescription']}}</td>
                <td>{{item['classDate']}}</td>
                <td>{{item['startTime']}}</td>
                <td>{{item['endTime']}}</td>
                <td>{{item['roomNumber']}}</td>
                <td><a href="/edit_class/{{item['classID']}}">edit</a></td>
                <td><a href="/delete_class/{{item['classID']}}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn" type="button" onClick=showInserts()>Add new class</button>
</div>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="adClass">
        <legend><strong>Add Class</strong></legend>
        <fieldset class="field">
            <label>Instructor</label>
            <select name="employeeID">
                {% for person in instructors %}
                <option value="{{person['employeeID']}}">{{person['instructor']}}</option>
                {% endfor %}
                <option value=""></option>
            </select>
            <label>Class Description</label> <input type="text" name="classDescription" />
            <label>Class Date</label> <input type="text" name="classDate" />
            <label>Start Time</label> <input type="text" name="startTime" />
            <label>End Time</label> <input type="text" name="endTime" />
            <label>Room Number</label> <input type="text" name="roomNumber" />
        </fieldset>
        <input class="btn" type="submit" name="addClass" id="addClassBtn" value="Add Class">
    </form>

    {% endblock %}