{% extends "base.html" %}
{% block content %}




<h1>Delete Class Member</h1>

<p></p>

<h2>Are you sure you want to delete the following Class Member?</h2>

<form method="POST" id="deleteClassMember">

<table>
    <thead>
        <tr>
            <th>Class Member ID</th>
            <th>Member</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>{{ data[0].classMemberID}}</td>
            <td>{{data[0].member}}</td>
            <td>{{data[0].class}}</td>
        </tr>

    </tbody>

</table>

<input class="btn" type="submit" name="deleteClassMember" value="Delete Class Member">

</form>



{% endblock %}