{% extends "base.html" %}
{% block content%}

<h1>Delete Class</h1>



<form method="POST" id="deleteEmployee">

<div id="delete">
<h2>Are you sure you want to delete the following class? </h2>
    <div class="scrollable">
        <table>
            <thead>
                <tr>
                    <th>Class ID</th>
                    <th>Instructor</th>
                    <th>Class Description</th>
                    <th>Class Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Room Number</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{data[0]['classID']}}</td>
                    <td>{{data[0]['instructor']}}</td>
                    <td>{{data[0]['classDescription']}}</td>
                    <td>{{data[0]['classDate']}}</td>
                    <td>{{data[0]['startTime']}}</td>
                    <td>{{data[0]['endTime']}}</td>
                    <td>{{data[0]['roomNumber']}}</td>                    

                </tr>

            </tbody>
        </table>    
            
    </div>
    <input class="btn" type="submit" name="deleteClass" value="Delete Class">
</div>

</form>

{% endblock %}