{% extends "base.html" %}
{% block content %}
<h1>Employees</h1>
<div id="database">
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Hire Date</th>
                <th>Hourly Rate</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item['employeeID']}}</td>
                <td>{{item['name']}}</td>
                <td>{{item['hireDate']}}</td>
                <td>{{item['hourlyRate']}}</td>
                <td>{{item['jobTitle']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="btn" type="button" onClick=showInserts()>Add new employee</button>
</div>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="addEmployee">
        <legend><strong>Add Employee</strong></legend>
        <fieldset class="field">
            <label>First Name</label> <input type="text" name="firstName" required />
            <label>Last Name</label> <input type="text" name="lastName" required />
            <label>Hire Date</label> <input type="text" name="hireDate" placeholder="YYYY-MM-DD" required />
            <label>Hourly Rate</label> <input type="text" name="hourlyRate" required />
            <label>Job Title</label> <input type="text" name="jobTitle" required />
        </fieldset>
        <input class="btn" type="submit" name="addEmployee" id="addEmployeeBtn" value="Add Employee">
    </form>
</div>
{% endblock %}