{% extends "base.html" %}
{% block content %}
<h1>Invoices</h1>
<div id="database">
    <table>
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Member</th>
                <th>Date</th>
                <th>Dues</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.invoiceID }}</td>
                <td>{{item.member}}</td>
                <td>{{item.date}}</td>
                <td>{{item.amountDue}}</td>
                <td><a href="/edit-invoice/{{item.invoiceID}}">edit</a></td>
                <td><a href="/delete-invoice/{{item.invoiceID}}">delete</a></td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="btn" type="button" onClick=showInserts()>Add new invoice</button>
</div>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="addInvoice">
        <legend><strong>Add Invoice</strong></legend>
        <fieldset class="field">
            <label>Member</label>
            <select name="memberID">
                {% for member in members %}
                <option value="{{member['memberID']}}">{{member['member']}}</option>
                {% endfor %}
            </select>
            <label>Date</label> <input type="date" name="date" placeholder="YYYY-MM-DD" required />
            <label>Amount Due</label> <input type="text" name="amountDue" placeholder="70.00" required />
        </fieldset>
        <input class="btn" type="submit" name="addInvoice" id="addInvoiceBtn" value="Add Invoice">
    </form>
    {% endblock %}