{% extends "base.html" %}
{% block content %}
<h1>Invoices</h1>
<div id="database">
    <table>
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Member</th>
                <th>Date</th>
                <th>Dues</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.invoiceID }}</td>
                <td>{{item.member}}</td>
                <td>{{item.date}}</td>
                <td>{{item.amountDue}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button type="button" onClick=showInserts()>Add new invoice</button>
</div>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="addInovice">
        <legend><strong>Add Invoice</strong></legend>
        <fieldset class="field">
            <label>Member</label>
            <select name="memberID">
                <option value="1">John Smith</option>
                <option value="2">Sarah Mills</option>
                <option value="3">Ben Smith</option>
            </select>
            <label>Date</label> <input type="text" name="date" />
            <label>Amount Due</label> <input type="text" name="amountDue" />
        </fieldset>
        <input class="btn" type="submit" name="addInvoice" id="addInvoiceBtn" value="Add Invoice">
    </form>
    {% endblock %}