{% extends "base.html" %}
{% block content %}
<h1>Members</h1>
<div id="database">
    <div class="scrollable">
        <table>
            <thead>
                <tr>
                    <th>Member ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Membership Start Date</th>
                    <th>Monthly Dues</th>
                    <th>Credit Card</th>
                    <th>Expiration Month</th>
                    <th>Expiration Year</th>
                    <th>Payment Currert</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item['memberID']}}</td>
                    <td>{{item['name']}}</td>
                    <td>{{item['email']}}</td>
                    <td>{{item['phone']}}</td>
                    <td>{{item['membershipStartDate']}}</td>
                    <td>{{item['monthlyDues']}}</td>
                    <td>{{item['creditCardNumber']}}</td>
                    <td>{{item['expirationMonth']}}</td>
                    <td>{{item['expirationYear']}}</td>
                    <td>{{item['paymentCurrent']}}</td>
                    <td> <a href="/edit-member/{{item['memberID']}}"> edit </a> </td>
                    <td> <a href="/delete-member/{{item['memberID']}}"> delete </a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <button class="btn" type="button" onClick=showInserts()>Add new member</button>
</div>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="addMember">
        <legend><strong>Add Member</strong></legend>
        <fieldset class="field">
            <label>First Name</label> <input type="text" id="firstName" name="firstName" required />
            <label>Last Name</label> <input type="text" name="lastName" required />
            <label>Email</label> <input type="email" name="email" required />
            <label>Phone</label> <input type="text" name="phone" required />
            <label>Membership Start Date</label> <input type="date" name="membershipStartDate" placeholder="YYYY-MM-DD"
                required />
            <label>Monthly due</label> <input type="text" name="monthlyDues" required />
            <label>Credit Card Number</label> <input type="text" name="creditCardNumber" required />
            <label>Expiration Month</label> <input type="text" name="expirationMonth" placeholder="MM" required />
            <label>Expiration Year</label> <input type="text" name="expirationYear" placeholder="YYYY" required />
            <label>Payment Current</label>
            <select name="current">
                <option value="0">No</option>
                <option value="1" selected>Yes</option>
            </select>
        </fieldset>
        <input class="btn" type="submit" name="addMember" id="addMemberBtn" value="Add Person">
    </form>
</div>

{% endblock %}