{% extends "base.html" %}
{% block content %}
<h1>Member Visits</h1>
<div id="database">
    <table>
        <thead>
            <tr>
                <th>Visit ID</th>
                <th>Member</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.visitID }}</td>
                <td>{{item.member}}</td>
                <td>{{item.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="btn" type="button" onClick=showInserts()>Add visit</button>
</div>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="addMemberVisit">
        <legend><strong>Add Member Visit</strong></legend>
        <fieldset class="field">
            <label>Member</label>
            <select name="memberID">
                {% for member in members %}
                <option value="{{member['memberID']}}">{{member['member']}}</option>
                {% endfor %}
            </select>
            <label>Date</label> <input type="text" name="date" placeholder="YYYY-MM-DD" required />
        </fieldset>
        <input class="btn" type="submit" name="addMemberVisit" id="addMemberVisitBtn" value="Add Member Visit">
    </form>
    {% endblock %}