{% extends "base.html" %}
{% block content %}
    <h1>Members</h1>
    <div class="scrollable">
    <table>
    <tr>
        <th>memberID</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
        <th>phone</th>
        <th>membershipStartDate</th>
        <th>monthlyDues</th>
        <th>creditCardNumber</th>
        <th>expirationMonth</th>
        <th>expirationYear</th>
        <th>paymentCurrent</th>
    </tr>
    <tr>
        <td>1</td>
        <td>John</td>
        <td>Doe</td>
        <td>jon@gmail.com</td>
        <td>5551234567</td>
        <td>2024-05-01</td>
        <td>70.00</td>
        <td>1234567891234567</td>
        <td>11</td>
        <td>2029</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sarah</td>
        <td>Mills</td>
        <td>sarah@gmail.com</td>
        <td>5551234455</td>
        <td>2023-05-01</td>
        <td>65.00</td>
        <td>1234567891234562</td>
        <td>8</td>
        <td>2030</td>
        <td>1</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ben</td>
        <td>Smith</td>
        <td>ben@gmail.com</td>
        <td>5551233214</td>
        <td>2022-08-11</td>
        <td>63.00</td>
        <td>1234567891234561</td>
        <td>2</td>
        <td>2025</td>
        <td>1</td>
    </tr>
    </table>
    </div>
    <button type="button">Add new member</button>

<div id="insert">
    <p>&nbsp;</p>
    <form method="POST" id="addMember">
        <legend><strong>Add Member</strong></legend>
        <fieldset class = "field">
            <label>First Name</label> <input type = "text" name = "firstName"/>
            <label>Last Name</label> <input type = "text" name = "lastName"/>
            <label>Email</label> <input type = "email" name = "email"/>
            <label>Phone</label> <input type = "text" name = "phone"/>
            <label>Membership Start Date</label> <input type = "text" name = "membershipStartDate"/>
            <label>Monthly due</label> <input type = "text" name = "monthlyDues"/>
            <label>Credit Card Number</label> <input type = "text" name = "creditCardNumber"/>
            <label>Expiration Month</label> <input type = "text" name = "expirationMonth"/>
            <label>Expiration Year</label> <input type = "text" name = "expirationYear"/>
            <label>Payment Current</label>
            <select name = "current">
                <option value = "0">No</option>
                <option value = "1" selected>Yes</option>
            </select>
            </fieldset>
            <input class = "btn" type="submit" id= "addMemberBtn" value="Add Person">
            <input class = "btn" type="submit" id= "cancelBtn" value="Cancel">
    </form>

</div>
{% endblock %}